form {
  display: flex;
  flex-direction: column;
}

h2 {
  color: red !important;
}
button {
  width: 100%;
  background-color: lightseagreen;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
}